<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
        .completed {
            text-decoration: line-through;
        }

        .selected {
            color: red;
        }

        .empty {
            border-color: red;
        }

        .deleted {
            text-decoration: line-through;
            color: red;
        }
    </style>
</head>

<body>
    <div id="todo-app">
        <div>
            <input type="button" value="全部标为完成" />
            <input type="text" placeholder="添加 todo" v-model='newTodoTitle' @keyup.enter='addTodo'
                v-bind:class="{empty:emptyChecked}" /> <span v-if="emptyChecked"
                v-bind:class="{selected:emptyChecked}">请输入内容</span>
        </div>
        <!-- todo list -->
        <ul>
            <li v-for='todo in todos' :key='todo.id'>
                <span :class="[{completed:todo.completed},{deleted:todo.deleted}]">{{todo.title}}</span>

                <input v-if="!todo.completed" type="button" value="标为完成" @click="markAsCompleted(todo)">
                <input v-else="!todo.completed" type="button" value="撤回为未完成" @click="markAsUndo(todo)">
                <input v-if="!todo.deleted" type="button" @click="removeTodo(todo)" value="删除">
                <input v-if="todo.deleted" type="button" value="撤回删除" @click="markAsNotDeleted(todo)">
                <input type="text" value="编辑 todo..." />
            </li>
        </ul>
        <!-- end todo list -->
        <div>
            <span>剩余 3 项未完成 ---</span>
            <span>筛选：
                <input type="button" class="selected" value="全部">
                <input type="button" value="进行中">
                <input type="button" value="已完成">
                <input type="button" value="清除已完成">
                <input type="button" value="清除全部">
            </span>
        </div>
    </div>
</body>

</html>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script>
    let id = 1;
    var app = new Vue({
        el: '#todo-app',
        data: function () {
            return {
                todos: [],
                newTodoTitle: '',
                checkEmpty: false,
                completed: false,
                deleted: false
            }
        },
        methods: {
            addTodo: function () {
                if (this.newTodoTitle.length === 0) {
                    this.checkEmpty = true;
                    return
                }
                this.todos.push(
                    { id: id++, title: this.newTodoTitle, completed: false, deleted: false },
                );
                this.newTodoTitle = '';
                this.checkEmpty = false;
            },
            markAsCompleted: function (todo) {
                todo.completed = true;
            },
            markAsUndo: function (todo) {
                todo.completed = false;
            },
            removeTodo: function (todo) {
                todo.deleted = true;
            },
            markAsNotDeleted: function (todo) {
                todo.deleted = false;
            }
        },
        computed: {
            emptyChecked: function () {
                return this.newTodoTitle.length === 0 && this.checkEmpty;
            }
        }
    })
</script>